.scrollbar {
    position: relative;
    width: 30px;  //управление параметром из JavaScript
    height: 322px;  //выполнить оптимизацию! не оставлять фиксированную величину!

    background: rgba(255, 255, 255, 0.1);  //удалить
    margin-right: 60px; //удалить
    
    

}