.wrapperButton {

  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;

  border-radius: 3px;
  background: linear-gradient(145deg, #251e33, #20192b);
  box-shadow: 5px 5px 10px #14101c,
    -5px -5px 10px #322844;


  &:active {
    border-radius: 3px;
    background: linear-gradient(145deg, #20192b, #251e33);
    box-shadow: 5px 5px 10px #14101c,
      -5px -5px 10px #322844;
  }

  position: relative;
  font-family: "Inter",
  sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;

  text-transform: uppercase;

  padding: 6px 7px;
  margin: 0 10px;

  border: none;


  &:first-child {
    margin-left: 0px !important;
  }

  &:last-child {
    margin-right: 0px !important;
  }

  cursor: pointer;
}