@import "./styles/variables.scss";
@import './App.module.scss';


:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  @include background_page(#10162C);
  padding: 70px;
}
